{% extends "base.html" %}

{% block title %}Security Logs{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Security Logs</h2>

        <span class="badge bg-secondary">
            Dummy Data
        </span>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="" class="form-label">Log Level</label>
                    <select name="" id="" class="form-select">
                        <option value="" selected>All</option>
                        <option value="">Info</option>
                        <option value="">Warning</option>
                        <option value="">Critical</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="" class="form-label">Source</label>
                    <input type="text" class="form-control" placeholder="Firewall, Auth, Server">
                </div>
                <div class="col-md-4 flex align-items-end">
                    <button type="button" class="btn btn-dark w-100">Apply Filter</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card shadow-sw">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Time</th>
                        <th>Level</th>
                        <th>Source</th>
                        <th>Message</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
  {% for log in logs %}
  <tr>
    <td>{{ log.time }}</td>

    <td>
      {% if log.level == "INFO" %}
        <span class="badge bg-info">INFO</span>
      {% elif log.level == "WARNING" %}
        <span class="badge bg-warning text-dark">WARNING</span>
      {% elif log.level == "CRITICAL" %}
        <span class="badge bg-danger">CRITICAL</span>
      {% endif %}
    </td>

    <td>{{ log.source }}</td>
    <td>{{ log.message }}</td>

    <td>
      {% if log.status == "OK" %}
        <span class="badge bg-success">OK</span>
      {% elif log.status == "Investigate" %}
        <span class="badge bg-warning text-dark">Investigate</span>
      {% elif log.status == "Blocked" %}
        <span class="badge bg-danger">Blocked</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>

            </table>
        </div>
    </div>
</div>

{% endblock  %}